.DS_Store
.abacus.donotdelete
.env
.env.*
!.env.example
node_modules
.next
.build
coverage
dist
build
*.log
*.tsbuildinfo

.vercel
storage-data
storage
backup.sql
backup.sql.gz
backup.dump
backup.backup
